################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/PupHologram/bin
/PupHologram/obj
/TestPupHologram/bin
/TestPupHologram/obj
